<div class="container">
  <div class="alert alert-danger" role="alert"><%= @message if @message %></div>
  <form method="POST" action="/login">
    <label for="user[email]">Email:</label>
    <input type="email" name="user[email]" required><br><br>
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]" required><br><br>
    <input type="submit" value="Log In">
  </form>
</div>