<div class="container">
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href=<%= "/users/#{current_user.id}" %>>Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"     aria-expanded="false">To-Do List</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/todo-list-items">Your To-Do List</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/todo-list-items/new">Add Something to Your List</a>
          <a class="dropdown-item" href="/todo-list-items/overdue">Overdue Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/upcoming">Upcoming Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/incomplete">Incomplete Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/complete">Complete Items on Your List</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/pets">Your Pets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pets/new">Add a Pet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>-->
    </ul>
  <% if @pets.empty? %>
    <h3>Looks like you don't have any pets...</h3>
    <h3>Why don't you <a href="/pets/new">add one?</a></h3>
  <% else %>
    <h1>All of your pets!</h1>
      <% @pets.each do |pet| %>
        <h4><a href=<%= "/pets/#{pet.slug}" %>><%= pet.name %> <%= "the #{pet.species}" if pet.species != "" %></a></h4>
      <% end %>
  <% end %>
</div>