<div class="container">
  <% if @pets.empty? %>
    <h3>Looks like you don't have any pets...</h3>
    <h3>Why don't you <a href="/pets/new">add one?</a></h3>
  <% else %>
    <h1>All of your pets!</h1>
      <ul>
      <% @pets.each do |pet| %>
        <li><a href=<%= "/pets/#{pet.slug}" %>><%= pet.name %> <%= "the #{pet.species}" if pet.species != "" %></a> </li>
      <% end %>
      </ul>
  <% end %>
</div>