<div class="container">
  <% if @pets.empty? %>
    <h3>Looks like you don't have any pets...</h3>
    <h3>Why don't you <a href="/pets/new">add one?</a></h3>
  <% else %>
    <h1>All of your pets!</h1>
      <% @pets.each do |pet| %>
        <a href=<%= "/pets/#{pet.slug}" %>><h3><%= pet.name %> <%= "the #{pet.species}" if pet.species != "" %> </h3></a> 
      <% end %>
    <p>
      <a href="/pets/new">Make a new pet.</a><br><br>
      <a href=<%= "/users/#{current_user.id}" %>>Home</a>
    </p>
  <% end %>
</div>