<div class="container">
<h1>Enter Your Pet's Information.</h1>
  <form method="POST" action="/pets">
    <label for="pet[name]">Name:</label>
    <input type="text" name="pet[name]"><br><br>
    <label for="pet[species]">Species:</label>
    <input type="text" name="pet[species]">*<br><br>
    <label for="pet[breed]">Breed:</label>
    <input type="text" name="pet[breed]">*<br><br>
    <label for="pet[birthday]">Birthday/Gotchaday:</label>
    <input type="date" name="pet[birthday]">*<br><br>
    <input type="submit" value="Done!">
  </form>
</div>