<div class="container">
  <h1><%= @pet.name %></h1>
  <h3><%= "The #{@pet.species}" if @pet.species %></h3>
  <h3><%= "Is #{@pet.age} years old" if @pet.age %></h3>
  <p><a href="/pets">Back to all of my pets</a></p>
</div>