<div class="container">
    <h1>Welcome <%= current_user.name != "" ? current_user.name : current_user.email %>!</h1>
      <p>
      <a href="/todo-list-items">Your To Do List</a><br>
      <a href="/todo-list-items/upcoming">You have <%= @upcoming_todos.count == 1 ? "#{@upcoming_todos.count} thing" : "#{@upcoming_todos.count} things" %> upcoming on your To Do List </a><br>
      <a href="/todo-list-items/incomplete">All of the items <bold>not</bold> crossed off your To Do List</a><br>
      <a href="/todo-list-items/complete">All of the items crossed off your To Do List</a><br>
      <a href="/pets">See all of your pets!</a><br>
      <a href="/pets/new">Add a new pet!</a>
      </p>
      <form method="POST" action="/logout">
    <input type="submit" value="Log Out">
  </form>
</div>