<div class="container">
  <% if @user %>
    <h1>Welcome <%= @user.name != "" ? @user.name : @user.username %>!!!</h1>
  <% else %>
    <h1>Welcome to the Pet Care To-Do App!</h1>
    <h4>Please <a href="/login">Log In</a> or <a href="/signup">Sing Up</a> to use the app.</h4>
  <% end %>
</div>
