<div class="container">
  <% if current_user %>
    <h1>Welcome <%= current_user.name != "" ? current_user.name : current_user.username %>!</h1>
      <p>
      <a href="/pets">All of your pets!</a>
      </p>
      <form method="POST" action="/logout">
    <input type="submit" value="Log Out">
  </form>
  <% else %>
    <h1>Welcome to the Pet Care To-Do App!</h1>
    <h4>Please <a href="/login">Log In</a> or <a href="/signup">Sing Up</a> to use the app.</h4>
  <% end %>
</div>
