<div class="container">
  <%= @message if @message %>
  <% if current_user %>
   <h1>Welcome <%= current_user.name != "" ? current_user.name : current_user.email %>!</h1>
    <a href=<%= "/users/#{current_user.id}" %>>Your Homepage</a>
  <% else %>
    <h1>Welcome to the Pet Care To-Do App!</h1>
    <h4>Please <a href="/login">Log In</a> or <a href="/signup">Sign Up</a> to use the app.</h4>
  <% end %>
</div>
