<div class="container">
  <% if current_user %>
    <a href="">Your Page</a>
  <% else %>
    <h1>Welcome to the Pet Care To-Do App!</h1>
    <h4>Please <a href="/login">Log In</a> or <a href="/signup">Sign Up</a> to use the app.</h4>
  <% end %>
</div>
